*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
:root
{
  --bg-color: rgb(26, 26, 26);
  --text-color: rgb(255, 255, 255);
  --main-color: rgb(23, 255, 144);
}
body
{
  min-height: 200px;
  min-width: 400px;
  background-color: var(--bg-color);
  color: var(--text-color);
}
